<nav class="header">
    <div>
        <ul class="nav-links">
            <li>EnvisionLive</li>
            <li>Suivis</li>
            <li>Parcourir</li>
            <li>
                <ng-icon name="heroEllipsisVertical"></ng-icon>
            </li>
        </ul>
    </div>
    <div>
        <input type="text" class="search-bar" placeholder="Rechercher">
    </div>
    <div>
        <ul class="nav-icons">
            <li><ng-icon name="heroSun"></ng-icon></li>
            <li><ng-icon name="heroChatBubbleBottomCenter"></ng-icon></li>
            <li><ng-icon name="heroUser"></ng-icon></li>
        </ul>
    </div>
</nav>
