.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    color: var(--text-color);
    background-color: var(--second-color);
    font-size: large;
    height: 10vh;
    width: 100%;
    box-shadow: 0 10px 4px 0 #000;
}
.nav-links{
    display: flex;
    gap:30px;
    font-size: large;
}
.nav-icons{
    display: flex;
    gap: 20px;
    font-size: x-large;
}
.search-bar{
    width: 250px;
    height: 40px;
    border: 1px #fff solid;
    border-radius: 5px;
    background: none;
    color: var(--text-color);
    padding-left: 10px ;
}
.nav-link{
    font-weight: bold;
}
.nav-link:hover{
    color: var(--title-color);
}