<aside class="sidebar">
    <div *ngIf="authService.isLoggedIn" class="channels-suivis">
        <div class="channels">
            <h4>Chaînes suivis</h4>
        </div>
        <div *ngFor="let channel of channels" class="channel">
            <div class="channel-div" routerLink="/stream/{{channel.id}}">
                <div>
                    <img class="avatar" src={{channel.avatar}} alt={{channel.name}} [ngClass]="{ 'offline': channel.state === 'offline' }">
                </div>
                <div class="about">
                    <div class="name">{{channel.name}}</div>
                    <div class="category">{{channel.category}}</div>
                </div>
            </div>
            <div class="views" *ngIf="channel.state === 'live'"><div class="live"></div>{{channel.views}}</div>
            <div class="views" *ngIf="channel.state === 'offline'">{{channel.state}}</div>
        </div>
    </div>
    <div class="channels">
        <h4>Chaînes recommandées</h4>
    </div>
    <div *ngFor="let channel of channels" class="channel">
        <div class="channel-div" routerLink="/stream/{{channel.id}}">
            <div>
                <img class="avatar" src={{channel.avatar}} alt={{channel.name}} [ngClass]="{ 'offline': channel.state === 'offline' }">
            </div>
            <div class="about">
                <div class="name">{{channel.name}}</div>
                <div class="category">{{channel.category}}</div>
            </div>
        </div>
        <div class="views" *ngIf="channel.state === 'live'"><div class="live"></div>{{channel.views}}</div>
        <div class="views" *ngIf="channel.state === 'offline'">{{channel.state}}</div>
    </div>
</aside>
